@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgb(130, 10, 209);
}

ul, a {
    text-decoration: none;
    list-style: none;
}

hr {
    border: none !important;
    height: 2px;
    background: #eee;
}

button {
    border: none;
    cursor: pointer;
}



.max-width {
    padding: 25px;
    max-width: 500px;
    margin: 0 auto;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
}

.marg-top-bot {
    margin: 10px 0;
}

.i-topic {
    margin: 10px 0 15px 0;
    font-size: 18px;
}

.parag-h2 {
    color: #555;
    margin: 20px 0;
    font-size: 13px;
    font-weight: 600;
}

.parag-h2 span {
    color: rgb(7, 138, 7);
}

/* Splash da tela */

#splash {
    max-width: 500px;
    margin: 0 auto;
}

#splash section {
    position: relative;
}

#splash section .content-splah {
    width: 100%;
    max-width: 500px;
    height: 100%;
    position: fixed;
    display: flex;
    background-color: rgb(130, 10, 209);
    background-image: url(imgs/splash.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#splash section .content-splah img {
    width: 200px;
}

/* Menu superior da tela */

#menu .content-menu nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    color: #fff;
    margin-bottom: 30px;
}

#menu .content-menu nav .fa-user {
    background: rgb(165, 31, 255);
    padding: 12px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    
}

#menu .content-menu nav ul {
    display: flex;
    align-items: center;
}

#menu .content-menu nav ul li {
    margin-left: 22px;
}

#menu .content-menu h1 {
    color: #fff;
    font-size: 20px;
}

/* Seção de conta (R$) */

#conta .max-width {
    background: #fff;
}

#conta .max-width {
    padding-bottom: 5px;
}

#conta .content-conta .conta-seta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

#conta .content-conta .conta-seta button {
    border: none;
    background: none;
}

#conta .content-conta .conta-seta i {
    font-size: 20px;
}

#conta .content-conta h2 {
    font-size: 26px;
    font-weight: 600;
}

#conta .content-conta h4 {
    color: #555;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}

#conta .content-conta .btns-secao {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;
}

#conta .content-conta .btns-secao button {
    background: #eee;
    padding: 10px 12px;
    border-radius: 20px;
    font-weight: 600;
}

#conta .content-conta .btns-secao button:first-child {
    background: rgb(212, 30, 30);
    color: #fff;
    margin-right: 7px;
}

#conta .content-conta .options {
    overflow-x: scroll;
    display: flex;
    margin-top: 20px;
    /*scrollbar-width: none;*/
}

#conta .content-conta .options div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    padding: 20px 0;
}

#conta .content-conta .options div i {
    font-size: 18px;
    background: #eee;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#conta .content-conta .options div strong {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
}

/* Seção de cards */

#cards {
    background: #fff;
}

#cards .max-width {
    padding-top: 0;
    padding-bottom: 0;
}

.cards-cartao .content-cards {
    display: flex;
    flex-direction: column;
}

.cards-cartao .content-cards .cards-card {
    background: #eee;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

.cards-cartao .content-cards .cards-card p {
    margin-left: 15px;
    font-weight: 600;
    font-size: 13px;
}


.cards-cartao .content-cards section {
    overflow-x: auto;
    display: flex;
    margin: 10px 0;
    padding: 10px 0;
}

.cards-cartao .content-cards section div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;
    background: #eee;
    border-radius: 8px;
}

.cards-cartao .content-cards section div:first-child {
    margin-right: 10px;
}

.cards-cartao .content-cards section div p {
    width: 220px;
    font-size: 12px;
    font-weight: 400;
}

.cards-cartao .content-cards section div p span {
    color: rgb(130, 10, 209);
}


/* Seção do cartão de crédito */


.credito .content-card-cred div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.credito .content-card-cred div button {
    border: none;
    background: none;
}

.credito .content-card-cred div i {
    font-size: 20px;
}



/* Seção da aba de Investimento */


.investimento .content-investimento .btns-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.investimento .content-investimento .btns-secao button {
    padding: 18px !important;
    border-radius: 8px !important;
    font-weight: 600;
    width: 100%;
    display: flex;
    font-size: 12px;
    text-align: start;
}

.investimento .content-investimento .btns-secao button:first-child {
    background: #eee !important;
    color: #000 !important;
    margin-right: 0 !important;
    margin-bottom: 12px;
}

.investimento .content-investimento .btns-secao button i {
    font-size: 18px;
    margin-right: 15px;
}




/* Última seção: Seção Descubra */


.descubra .content-descubra .title-descubra {
    padding: 3px 0 25px 0;
    font-size: 15px;
}

.descubra .content-descubra .nav-descubra {
    display: flex;
    align-items: stretch;
    overflow-x: auto;
}

.descubra .content-descubra .box-descubra {
    background: #eee;
    margin-right: 10px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descubra .content-descubra .box-descubra:last-child {
    margin-right: 0px;

}

.descubra .content-descubra .top-descubra {
    margin-bottom: 20px;
}

.descubra .content-descubra .top-descubra h6 {
    font-size: 14px;
}

.descubra .content-descubra .top-descubra h6 span {
    background: rgb(130, 10, 209);
    color: #fff;
    font-size: 10px;
    padding: 3px;
    border-radius: 5px;
    display: inline-block;
}

.descubra .content-descubra .top-descubra p {
    width: 220px;
    font-size: 12px;
    font-weight: 400;
}

.descubra .content-descubra .btn-descubra {
    background: rgb(130, 10, 209);
    color: #fff;
    padding: 8px;
    border-radius: 20px;
    font-size: 11px;
    font-weight: 600;
    width: 115px;
}


@media (max-width: 500px) {

    ::-webkit-scrollbar {
        width: 0px;
    }

    .max-width {
        border: 0;
    }

}